
sample/.idea/.idea.sample/.idea/indexLayout.xml
sample/.idea/.idea.sample/.idea/vcs.xml
/sample/Library
sample/Library/LastSceneManagerSetup.txt
sample/ProjectSettings/ProjectVersion.txt
/sample/ProjectSettings
